<h2 mat-dialog-title class="dialog-title">
  <mat-icon>terminal</mat-icon>
  Execution Logs - {{task.device_name || 'Device'}}
</h2>
<mat-dialog-content>
  <app-task-log-viewer [logs]="task.logs"></app-task-log-viewer>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="status-info" *ngIf="task.status === 'running'">
      <mat-icon class="spinning">sync</mat-icon>
      Executing task...
  </div>
  <button mat-flat-button color="primary" mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
